body {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: PT Sans, Sans-serif;
	text-transform: uppercase;
}

.container h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans, Arial, Sans-serif;
}

.container {
	margin: 0 auto;
	width: 1200px;
	padding: 0 10px;
}

.main-header {
	position: relative;
	background-color: white;
	height: 56px;
	z-index: 1;
	font-size: 0;
}

.main-header ul {
	text-align: center;
	height: 100%;
	vertical-align: top;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-weight: bold;
	list-style-type: none;
}

.main-header li {
	margin-top: 14px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	white-space: nowrap;
	line-height: 26px;
}

.main-header ul:nth-of-type(2) li:nth-of-type(2) {
	box-sizing: border-box;
	padding-left: 15px;
}

.main-header ul:nth-of-type(2) li:nth-of-type(1) {
	letter-spacing: 0.5px;
	box-sizing: border-box;
	padding-left: 5px;
}

.main-header a:active {
	color: inherit;
	opacity: 0.3;
}
.main-header a {
	color: #000000;
	text-decoration: none;
}

.container > a:active {
	opacity: 1.0;
}

.main-header a:hover {
	color: #81b3d2;
}

.header-logo {
	margin-left: 51px;
	margin-right: 51px;
}

.heading h1 {
	margin: 0;
	margin-top: -56px;
}

.introduction {
	text-align: center;
	margin-top: -156px;
}

.introduction-container {
	width: 576px;
	margin: 0 auto;
}

.introduction b {
	font-size: 21px;
	line-height: 26px;
	letter-spacing: 0.1px;
}

.introduction p {
	margin: 0;
	margin-top: 27px;
	line-height: 26px;
	letter-spacing: 0.1px;
}

.reason-first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	margin-top: 51px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.reason-first .left-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0;
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	color: white;
}

.reason-first .left-column h2, .reason-first .left-column p, .reason-second .right-column h2, .reason-second .right-column p {
	color: white;
	margin: 0;
	margin: 0;
}

.reason-first .left-column div, .reason-second .right-column div, .another-reasons .reason div {
	margin-top: 24px;
	margin-bottom: 21px;
}

.reason-first .left-column p {
	line-height: 21px;
	letter-spacing: 0.1px;
}

.reason-first .left-column h2 {
	margin-top: 47px;
}

.reason-description {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 330px;
}

.description {
	text-align: center;
	padding-top: 162px;
	width: 400px;
}

.description p {
	margin: 0;
	margin-top: 20px;
}

.house::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	background-image: url(../img/house.png);
	bottom: 198px;
	left: 162px;
}

.burger::before {
	content: "";
	position: absolute;
	width: 74px;
	height: 70px;
	background-image: url(../img/burger.png);
	bottom: 198px;
	left: 563px;
}

.gift::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 76px;
	background-image: url(../img/gift.png);
	bottom: 198px;
	left: 968px;
}

/*.house::before, .burger::before, .gift::before {
	bottom: 100px;
}*/

.description b {
	font-size: 21px;
}

.reason-second {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.reason-second .right-column {
	width: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 47px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #81b3d2;
	color: white;
	height: 256px;
}

.another-reasons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 256px;
	background-color: #eeeeee;
}

.reason h2, .reason div, .reason p {
	margin: 0;
}

.reason h2 {
	margin-top: 48px;
}

.reason {
	width: 400px;
	min-height: 256px;
	text-align: center;
	letter-spacing: 0.1px;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0;
}

.reason:nth-of-type(2) {
	letter-spacing: 0.17px;
}

.reason:nth-of-type(3) {
	letter-spacing: 0.09px;
}

.reservation {
	text-align: center;
}

.reservation-intro {
	min-height: 205px;
	padding-top: 57px;
	box-sizing: border-box;
}

.reservation-intro b {
	font-size: 30px;
}

.reservation-intro p {
	margin: 0;
	line-height: 24px;
	margin-top: 25px;
}

.reservation-heading {
	background-color: #766357;
	min-height: 85px;
	width: 568px;
	margin: 0 auto;
	box-sizing: border-box;
}

.reservation-heading h2 {
	padding: 30px 139px;
	display: inline;
	line-height: 85px;
	color: #ffffff;
}

.reservation-heading a {
	text-decoration: none;
}

.hotel-search {
	/*visibility: hidden;*/
	width: 568px;
	min-height: 395px;
	margin: 0 auto;
	font-weight: bold;
	margin-bottom: -120px;
}

.hotel-search {
	background-color: #ffffff;
}

.hotel-search-container {
	min-height: 593px;
	background-image: url(../img/map.jpg);
	background-color: #cbdda9;
}

.check-in input, .check-out input {
	width: 346px;
	height: 38px;
	border: 0px;
	background-color: #f2f2f2;
	padding: 14px 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}

.adult input, .children input {
	height: 38px;
	width: 114px;
	border: 0px;
	background-color: #f2f2f2;
	padding: 14px 10px;
	font-weight: bold;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
}

.adult, .children {
	display: inline-block;
	vertical-align: top;
}

.check-in, .check-out {
	letter-spacing: 0.17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 30px;
}

.calendar {
	background-color: transparent; 
	border: none;
	position: absolute;
	background-image: url(../img/calendar-icon.png);
	width: 21px;
	height: 22px;
	left: 428px;
	top: 8px;
	outline: none;
}

.children-adult{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.adult label {
	margin-right: 41px;
}

.children label {
	margin-right: 27px;
}

.input {
	margin-top: 55px;
}

.input input{
	width: 100%;
	height: 58px;
	border: 0;
	background-color: #81b3d2;
	color: white;
	font-size: 21px;
	font-weight: inherit;
}

.input input:hover {
	background-color: #669ec0;
}

.input input:active {
	background-color: #5496bd;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.adult, .children, .check-in, .check-out {
	position: relative;
}

.adult .plus {
	background-color: transparent; 
	border: none;
	position: absolute;
	background-image: url(../img/plus.png);
	width: 11px;
	height: 11px;
	left: 201px;
	top: 14px;
	outline: none;
}


.adult .minus {
	background-color: transparent; 
	border: none;
	position: absolute;
	background-image: url(../img/minus.png);
	width: 12px;
	height: 3px;
	left: 125px;
	top: 18px;
	outline: none;
}

.children .plus {
	background-color: transparent; 
	border: none;
	position: absolute;
	background-image: url(../img/plus.png);
	width: 11px;
	height: 11px;
	left: 156px;
	top: 14px;
}


.children .minus {
	background-color: transparent; 
	border: none;
	position: absolute;
	background-image: url(../img/minus.png);
	width: 12px;
	height: 3px;
	left: 80px;
	top: 18px;
	outline: none;
}


.hotel-search-container-in {
	box-sizing: border-box;
	padding-top: 55px;
	width: 458px;
	margin: auto;
	min-height: 395px;
}

.main-footer .container {
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #fefefe;
	opacity: 0.9;
	min-height: 120px;
}

.contacts {
	font-size: 21px;
	width: 180px;
	margin-left: 72px;
	padding-left: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 51px;
}

.soc-networks {
	font-size: 0;
	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 38px;
	padding-left: 23px;
	box-sizing: border-box;
}

.authors {
	position: relative;
	width: 240px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 72px;
	padding-top: 50px;
}

.authors a::before {
	content: "";
	position: absolute;
	width: 113px;
	height: 39px;
	background-image: url(../img/academy-logo.png);
	top: 41px;
	left: 97px;	
}

.authors a:hover::before {
	background-image: url(../img/ac-logo-2.png);
}

.authors a:active::before {
	background-image: url(../img/academy-logo.png);
	opacity: 0.3;
}

.authors p {
	display: inline;
	margin: 0;
	margin-left: 15px;
}

.main-footer li {
	display: inline;
}

.main-footer ul {
	padding: 0;
	margin: 0;
	height: 45px;
}

.soc-networks a {
	vertical-align: top;
	display: inline-block;
	margin-right: 6px;
	position: relative;
}

.soc-networks li:nth-of-type(3) a {
	margin-right: 0;
}

.social-btn {
	width: 46px;
	height: 46px;
	background-color: #81b3d2;
}

.social-btn-twt::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(../img/twt.png);
	top: 13px;
	left: 13px;	
}

.social-btn-fb::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(../img/f.png);
	top: 13px;
	left: 13px;	
}

.social-btn-yt::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(../img/y.png);
	top: 13px;
	left: 13px;	
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active::before {
	opacity: 0.3;
}

.social-btn:active {
	background-color: #5496bd;
}

/*КАТАЛОГ*/

.filters {
	background-image: url("../img/filter background.jpg");
	background-color: #81b3d2;
	background-position: 0 -55px;
	min-height: 217px;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.checkbox {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

.accommodation-type .checkbox {
	padding-left: 42px;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox input[type="checkbox"] + .checkbox-indicator {
	background-image: url(../img/unchecked.png);
	width: 22px;
	height: 22px;
	position: absolute;
	top: -3px;
	left: 0;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator{
	content: "";
	position: absolute;
	width: 26px;
	height: 22px;
	background-image: url(../img/check.png);
}

.infrastructure h2 {
	margin-top: -2px;
	margin-bottom: 25px;
}

.accommodation-type h2 {
	margin-top: -2px;
	margin-bottom: 25px;
}

.filters h2 {
	font-size: 16px;
	color: white;
}

.infrastructure {
	margin-left: 72px;
}

.accommodation-type {
	margin-left: 118px;
}

.checkboxes {
	min-height: 112px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.filter-range {
	height: 217px;
	margin-left: auto;
	margin-right: 73px;
 	width: 318px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-top: 27px;
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.15px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px; 
}

.price-controls .max-price {
	padding-left: 58px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
 		background: #1c4f80;
}

.range-toggle-min {
 	left: 0;
}

.range-toggle-max {
 	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	margin-left: 85px;
	padding: 6px 31px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
  	color: #000000;
  	background: #ffffff;
}

.search-results {
	height: 86px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

.search-results .active {
	color: #81b3d2;
	border-bottom: none;
}

.search-results a {
	font-size: 12px;
	color: inherit;
	opacity: 0.3;
	border-bottom: 1px dashed #81b3d2;
	text-decoration: none;
} 

.search-results a:hover {
	color: #81b3d2;
}

.search-results li{
	display: inline;
}

.search-results ul {
	padding: 0;
}

.search-results b {
	height: 25px;
	font-size: 21px;
	margin-right: 47px;
	margin-left: 72px;
}

.search-results p, .search-results ul {
	display: inline;
}

.order {
	width: 40px;
	height: 11px;
	margin-left: 503px;
}

.order a {
	opacity: 1.0;
}

.order .up-order {
	border: none;
	display: inline-block;
	vertical-align: top;
	width: 11px;
	height: 10px;
	background-image: url(../img/up-tri.png);
	margin-right: 9px;
}

.order .down-order {
	border: none;
	display: inline-block;
	vertical-align: top;
	width: 11px;
	height: 10px;
	background-image: url(../img/down-tri.png);
}

.order .up-order:hover {
	background-image: url(../img/up-tri-black.png);
}

.order .down-order:hover {
	background-image: url(../img/down-tri-black.png);
}

.order .up-order:active {
	background-image: url(../img/up-tri-blue.png);
}

.order .down-order:active {
	background-image: url(../img/down-tri-blue.png);
}

.sort p {
	margin-right: 37px;
	font-size: 12px;
}

.sort li:not(:last-child) {
	margin-right: 29px;
}

.hotels article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 150px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

.hotels h2, .hotels a {
	text-decoration: none;
	color: #000000;
	margin: 0;
}

.hotels h2 {
 	color: #000000;
 	line-height: 21px;
 }

.hotels a:hover {
	color: #81b3d2;
}

.hotels a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotels p {
	margin: 0;
	font-size: 14px;
	margin-bottom: 10px;
}

.hotels span {
	vertical-align: top;
	display: inline-block;
	width: 116px;
}

.hotels a {
	text-align: center;
	line-height: 27px;
}

.hotel-button {
	margin-bottom: 3px;
}

.article-img {
	margin-left: 72px;
	height: 90px;
}

.article-hotel {
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 30px;
	font-size: 0;
}

.hotels .more-btn {
	color: white;
	display: inline-block;
	vertical-align: top;
	min-width: 110px;
	height: 27px;
	background-color: #81b3d2;
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin-right: 6px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.hotels .reservation-btn {
	color: white;
	display: inline-block;
	vertical-align: top;
	min-width: 142px;
	height: 27px;
	background-color: #766357;
	color: white;
	font-weight: bold;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.hotels .more-btn:hover {
	color: #fff;
	background-color: #669ec0;
}

.hotels .reservation-btn:hover {
	color: #fff;
	background-color: #604e43;
}

.hotels .more-btn:active {
	color: rgba(255,255,255, 0.3);
	background-color: #5496bd;
}

.hotels .reservation-btn:active {
	color: rgba(255,255,255, 0.3);
	background-color: #503e33;
}

.rating {
	height: 91px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: 522px;
}

.rating a:nth-of-type(1) {
	height: 17px;
}

.rating a:nth-of-type(2) {
	height: 27px;
}