body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: PT Sans, Sans-serif;
}

h1 {

}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans, Sans-serif;
}